<div
	class="mobile-full-width not-prose relative z-0 my-8 rounded-none border-t border-b bg-white sm:rounded-xl sm:border-r sm:border-l sm:border-none sm:shadow-sm dark:bg-[#0B0B09]"
>
	<slot />
</div>
