<div
	class="not-prose relative z-0 mx-[-25px] my-8 w-[calc(100%_+_50px)] border-t border-b bg-white sm:mx-0 sm:w-full sm:rounded-xl sm:border-r sm:border-l sm:border-none sm:shadow-(--ds-shadow-border-small) dark:bg-[#0B0B09]"
>
	<slot />
</div>
