.sparkle__container {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.sparkle__sparkle {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	display: block;
	user-select: none;
	animation: 700ms ease 0s 1 normal forwards comeInOut;
}

.sparkle__sparkle svg {
	display: block;
	opacity: 0.5;
	animation: 1000ms linear 0s 1 normal none sparkleSpin;
}

.sparkle__text {
	--a: #db91cb;
	--b: #9a5eff;
	overflow: visible;
	cursor: default;
	position: relative;
	font-weight: 500;
	background: linear-gradient(120deg, var(--a) 0%, var(--b) 50%, var(--a) 100%);
	background-size: 200% auto;
	animation: 3s linear infinite forwards backgroundShift;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: unset;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

@keyframes backgroundShift {
	100% {
		background-position: -200% center;
	}
}

@keyframes comeInOut {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes sparkleSpin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}
