@import 'tailwindcss';
@import './prose.css';

@custom-variant dark (&:where(.dark, .dark *));

/* Color palette comes from Radix UI - Sand theme */
:root {
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--gray-100: #fdfdfc;
	--gray-200: #f9f9f8;
	--gray-300: #f1f0ef;
	--gray-400: #e9e8e6;
	--gray-500: #e2e1de;
	--gray-600: #dad9d6;
	--gray-700: #cfceca;
	--gray-800: #bcbbb5;
	--gray-900: #8d8d86;
	--gray-1000: #82827c;
	--gray-1100: #63635e;
	--gray-1200: #21201c;
	--gray-alpha-100: #00000003;
	--gray-alpha-200: #00000006;
	--gray-alpha-300: #0000000f;
	--gray-alpha-400: #00000017;
	--gray-alpha-500: #0000001f;
	--gray-alpha-600: #00000026;
	--gray-alpha-700: #00000031;
	--gray-alpha-800: #00000044;
	--gray-alpha-900: #00000072;
	--gray-alpha-1000: #0000007c;
	--gray-alpha-1100: #0000009b;
	--gray-alpha-1200: #000000df;
	--content-width: 640px;
	--footer-height: 56px;
	--ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
	--ds-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
	--ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
	--ds-background-demo: white;
}

.dark {
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--ds-shadow-border: 0 0 0 1px hsla(0, 0%, 100%, 0.08);
	--ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.08);
	--ds-shadow-border-small:
		var(--ds-shadow-border), 0px 1px 2px rgba(0, 0, 0, 0.08);
	--gray-100: #111110;
	--gray-200: #191918;
	--gray-300: #222221;
	--gray-400: #2a2a28;
	--gray-500: #31312e;
	--gray-600: #3b3a37;
	--gray-700: #494844;
	--gray-800: #62605b;
	--gray-900: #6f6d66;
	--gray-1000: #7c7b74;
	--gray-1100: #b5b3ad;
	--gray-1200: #eeeeec;
	--gray-alpha-100: #00000000;
	--gray-alpha-200: #ffffff09;
	--gray-alpha-300: #ffffff12;
	--gray-alpha-400: #ffffff1b;
	--gray-alpha-500: #ffffff22;
	--gray-alpha-600: #ffffff2c;
	--gray-alpha-700: #ffffff3b;
	--gray-alpha-800: #ffffff55;
	--gray-alpha-900: #ffffff64;
	--gray-alpha-1000: #ffffff72;
	--gray-alpha-1100: #ffffffaf;
	--gray-alpha-1200: #ffffffed;
	--ds-background-demo: #0b0b09;
}

@theme inline {
	--font-sans: var(--font-geist);
	--font-mono: var(--font-geist-mono);
	--color-background: var(--gray-100);
	--color-foreground: var(--gray-1200);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--gray-1100);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-gray-*: initial;
	--color-gray-100: var(--gray-100);
	--color-gray-200: var(--gray-200);
	--color-gray-300: var(--gray-300);
	--color-gray-400: var(--gray-400);
	--color-gray-500: var(--gray-500);
	--color-gray-600: var(--gray-600);
	--color-gray-700: var(--gray-700);
	--color-gray-800: var(--gray-800);
	--color-gray-900: var(--gray-900);
	--color-gray-1000: var(--gray-1000);
	--color-gray-1100: var(--gray-1100);
	--color-gray-1200: var(--gray-1200);
	--color-primary: var(--primary);
	--shadow-sm: var(--ds-shadow-border-small);
}

@utility scrollbar-none {
	scrollbar-width: none;
}

@layer base {
	* {
		border-color: var(--border);
	}

	html {
		height: 100%;
		scrollbar-gutter: stable;
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}

	body {
		min-height: 100%;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		overflow-wrap: break-word;
	}

	button:not(disabled):hover {
		cursor: pointer;
	}

	.astro-code {
		font-size: 0.8125rem;
		background-color: var(--shiki-light-bg);
		padding-block: 1.25rem;
	}
	.astro-code .line {
		padding-inline: 1.25rem;
		height: 20px;
	}
	.astro-code code {
		display: grid;
	}
	.astro-code span {
		color: var(--shiki-light);
	}
	html.dark .astro-code {
		background-color: var(--shiki-dark-bg);
	}
	html.dark .astro-code span {
		color: var(--shiki-dark);
	}

	.astro-code .highlighted {
		@apply relative bg-blue-50 after:absolute after:top-0 after:bottom-0 after:left-0 after:w-[2px] after:bg-blue-600 dark:bg-blue-950 after:dark:bg-blue-400;
	}

	.astro-code .remove {
		@apply relative bg-red-50 after:absolute after:top-0 after:bottom-0 after:left-0 after:w-[2px] after:bg-red-600 dark:bg-red-950 after:dark:bg-red-400;
	}

	.astro-code .add {
		@apply relative bg-green-50 after:absolute after:top-0 after:bottom-0 after:left-0 after:w-[2px] after:bg-green-600 dark:bg-green-950 after:dark:bg-green-400;
	}
}
