---
import Hero from '@components/Hero.astro'
import Layout from '@layouts/base.astro'
---

<Layout>
	<Hero />
	<section>
		<h2 class="text-5xl pb-5 font-extrabold w-full md:w-1/2">
			I like creating great web experiences and write about it.
		</h2>
		<h2 class="text-5xl font-extrabold w-1/2 ml-auto mr-0">
			My favorite stack
		</h2>
	</section>
</Layout>
