---
import ThemeToggle from './ThemeToggle'
---

<header class="fixed w-full z-10 backdrop-blur-md">
	<div class="mx-auto max-w-7xl px-4 sm:px-16 py-6 transition-all">
		<nav class="flex items-center gap-3 text-base">
			<a href="/" class="group">
				<h2 class="font-semibold tracking-tighter py-2 text-lg">
					{/*icon */}
					Victor Garcia
				</h2>
			</a>
			<div class="items-center gap-6 hidden md:flex">
				{/* navigation links */}
			</div>
			<div class="flex-1"></div>
			<ThemeToggle client:only="preact" />
		</nav>
	</div>
</header>
