---
import MobileMenuButton from './MobileMenuButton.astro'
import ThemeSwitcher from './ThemeSwitcher'
---

<header
	id="header"
	class="sticky top-0 z-20 flex w-full flex-col backdrop-blur-md transition-transform"
>
	<nav
		class="mx-auto flex w-full max-w-prose items-center justify-between py-2 text-base transition-all"
	>
		<div class="flex items-center">
			<a href="/">
				<h2 class="text-muted-foreground hover:text-foreground">
					Victor Mestre
				</h2>
			</a>
		</div>
		<div class="hidden sm:flex"><ThemeSwitcher client:visible /></div>
		<MobileMenuButton />
	</nav>
</header>
