---
import MobileMenuButton from './MobileMenuButton'
import ThemeToggle from './ThemeToggle'
---

<header
	id="header"
	class="fixed z-20 flex w-full flex-col backdrop-blur-md transition-transform"
>
	<nav
		class="mx-auto flex w-full max-w-5xl items-center justify-between px-4 py-2 text-base transition-all sm:px-16"
	>
		<div class="flex items-center">
			<a href="/">
				<h2
					class="py-2 pr-12 text-lg font-semibold tracking-tighter hover:text-pink-600"
				>
					{/*icon */}
					Victor Garcia
				</h2>
			</a>
			<div class="hidden flex-1 items-center gap-3 sm:flex">
				<a href="/blog" class="font-semibold hover:text-pink-600">Blog</a>
				<a href="/blog" class="font-semibold hover:text-pink-600">Projects</a>
			</div>
		</div>
		<div class="flex items-center gap-3">
			<ThemeToggle client:only="preact" />
			<MobileMenuButton client:visible />
		</div>
	</nav>
</header>
