<section class="mb-32 flex w-full flex-col justify-center gap-20">
	<h2 class="w-full pb-5 text-5xl font-extrabold leading-tight md:w-2/3">
		I'm an engineer who loves crafting <span id="highlight"
			>great web experiences ✨</span
		> and exploring bleeding-edge technologies.
	</h2>
	<h2
		class="w-full self-end pb-5 text-right text-5xl font-extrabold leading-tight md:w-2/3"
	>
		When not coding, I enjoy gaming, running and photography.
	</h2>
</section>
<script>
	import { annotate } from 'rough-notation'

	const color = '#db2777'
	const highlightedElement = document.getElementById(
		'highlight'
	) as HTMLSpanElement
	const annotation = annotate(highlightedElement, {
		type: 'highlight',
		multiline: true,
		color: color
	})

	const observer = new IntersectionObserver(
		entries =>
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					annotation.show()
					observer.unobserve(highlightedElement)
				}
			}),
		{
			root: null,
			rootMargin: '0px',
			threshold: 1
		}
	)
	observer.observe(highlightedElement)
</script>
