<section class="min-h-screen">
	<h2 class="w-full pb-5 text-5xl font-extrabold leading-tight md:w-1/2">
		I like creating <span id="about">great web experiences</span> and write about
		it.
	</h2>
</section>
<script>
	import { annotate } from 'rough-notation'
	const e = document.getElementById('about') as HTMLSpanElement
	const observer = new IntersectionObserver(
		entries => {
			entries.forEach(item => {
				const annotation = annotate(e, {
					type: 'underline',
					multiline: true,
					color: '#db2777',
					strokeWidth: 2
				})
				if (item.isIntersecting) {
					annotation.show()
					observer.unobserve(item.target)
				}
			})
		},
		{
			root: null,
			rootMargin: '0px',
			threshold: 1.0
		}
	)
	observer.observe(e)
</script>
