<section id="about" class="mb-32 flex w-full flex-col justify-center gap-20">
	<h2 class="w-full pb-5 text-5xl font-extrabold leading-tight md:w-2/3">
		Engineer who loves creating <span id="highlight">great web experiences</span
		> and trying bleeding edge technologies
	</h2>
	<h2
		class="w-full self-end pb-5 text-right text-5xl font-extrabold leading-tight md:w-2/3"
	>
		When not developing, I also like <span id="underline"
			>gaming, running and photography</span
		>.
	</h2>
</section>
<script>
	import { annotate, annotationGroup } from 'rough-notation'

	import type { RoughAnnotation } from 'rough-notation/lib/model'
	const container = document.getElementById('about') as HTMLDivElement
	const e1 = document.getElementById('highlight') as HTMLSpanElement
	const e2 = document.getElementById('underline') as HTMLSpanElement
	const color = '#db2777'

	const a1 = annotate(e1, {
		type: 'highlight',
		multiline: true,
		color: color
	})
	const a2 = annotate(e2, {
		type: 'underline',
		multiline: true,
		color: color,
		strokeWidth: 2
	})
	const ag = annotationGroup([a1, a2])

	const observer = new IntersectionObserver(
		entries => {
			entries.forEach(item => {
				if (item.isIntersecting) {
					ag.show()
					observer.unobserve(item.target)
				}
			})
		},
		{
			root: null,
			rootMargin: '0px',
			threshold: 0.5
		}
	)
	observer.observe(container)
</script>
