---
import CornerLeftUp from './icons/CornerLeftUp.astro'
---

<button
	id="scroll-top"
	class="hover:text-foreground text-muted-foreground flex cursor-pointer items-center gap-1 text-sm font-medium"
>
	<CornerLeftUp />
	Back to top
</button>

<script>
	document.getElementById('scroll-top')?.addEventListener('click', function () {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		})
	})
</script>
