---
import ExternalLink from './external-link.astro'
---

<section class="space-y-4">
	<h3 class="font-medium">Connect</h3>

	<p class="text-muted-foreground">
		Reach me on <ExternalLink href="mailto:vgmestre@gmail.com"
			>vgmestre@gmail.com</ExternalLink
		>, see my open-source projects on <ExternalLink
			href="https://github.com/vgarmes">Github</ExternalLink
		> or follow me <ExternalLink href="https://x.com/vgmestre">
			@vgmestre
		</ExternalLink>.
	</p>
</section>
