---
import Link from './link.astro'
---

<section class="mt-16 space-y-4">
	<h3 class="font-medium">Connect</h3>

	<p>
		Reach me on <Link href="mailto:vgmestre@gmail.com">vgmestre@gmail.com</Link
		>, see my open-source projects on <Link
			isExternal={true}
			href="https://github.com/vgarmes">Github</Link
		> or follow me <Link isExternal={true} href="https://x.com/vgmestre">
			@vgmestre
		</Link>.
	</p>
</section>
