---
import ThemeSwitcher from './ThemeSwitcher'
---

<footer
	class="mt-auto h-(--footer-height) w-full border-t border-t-(--gray-alpha-400) px-6"
>
	<div
		class="mx-auto flex h-full w-full max-w-(--content-width) items-center justify-between"
	>
		<p class="text-muted-foreground text-xs">Keep on keeping on</p>
		<ThemeSwitcher client:idle />
	</div>
</footer>
