---
import Social from '@components/Social.astro'
---

<footer
	class="mt-20 mx-4 md:mx-8 pt-8 pb-3 md:pt-20 md:pb-6 bg-sky-200/60 dark:bg-gray-800 rounded-2xl md:rounded-[48px] flex items-center flex-col"
>
	<Social />
	<h4 class="text-sm text-gray-700 dark:text-gray-400 pt-3">
		2023 Victor Garcia Mestre
	</h4>
</footer>
