---
import Social from '@components/Social.astro'
---

<footer
	class="mt-20 mx-4 md:mx-8 pt-8 p-8 md:p-16 bg-sky-200/60 dark:bg-gray-800 rounded-2xl md:rounded-[48px] flex items-center flex-col"
>
	<div class="pb-8 text-center">
		<p class="text-lg font-black">I'm always up for a chat. ☕️</p>
		<p>
			<a
				href="mailto:vgmestre@gmail.com"
				class="underline decoration-pink-600 underline-offset-2"
				>Drop me an email</a
			> at vgmestre@gmail.com or reach me on social media.
		</p>
	</div>
	<Social />
</footer>
