---
import Social from '@components/Social.astro'
---

<section
	class="text-center grid place-items-center w-full pt-12 pb-3 bg-gradient-to-b from-sky-200/60 dark:from-sky-300/10 mt-auto"
>
	<Social />
	<h4 class="text-sm text-gray-700 dark:text-gray-400 pt-3">
		2022 Victor Garcia Mestre
	</h4>
</section>
