<section
	class="flex h-[calc(100vh-60px)] min-h-screen w-full flex-col items-start justify-center lg:pl-20"
>
	<h1
		class="animate-fade-up pb-20 text-5xl font-extrabold leading-tight [animation-fill-mode:backwards] md:text-7xl"
	>
		Hi, I'm <span class="text-pink-600">Victor</span>
		<br />
		Front End Developer
	</h1>
	<a
		class="group inline-flex animate-fade-up items-center whitespace-nowrap rounded-full bg-pink-600 py-4 px-8 font-bold uppercase text-white [animation-delay:100ms] [animation-fill-mode:backwards] hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-600 dark:text-white dark:focus:ring-slate-500"
		href="#showcase"
		>See my projects
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-3 h-4 w-4 overflow-visible"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"></path>
		</svg>
	</a>
</section>
