---
import ExternalLink from './external-link.astro'
---

<section class="mb-8 space-y-8">
	<p>Crafting great web experiences that blend functionality and design.</p>

	<p>
		Currently, I work at <ExternalLink href="https://sybogames.com/"
			>Sybo Games</ExternalLink
		>, where I contribute to the central technology team by developing internal
		tools with a strong focus on user interfaces and usability.
	</p>
</section>
