<section
	class="-mt-28 flex min-h-screen w-full flex-col items-start justify-center lg:pl-20"
>
	<h1
		class="animate-fade-up pb-20 text-5xl font-extrabold leading-tight md:text-7xl"
		style="animation-fill-mode: backwards;"
	>
		Hi, I'm <span class="text-pink-600 dark:text-pink-500">Victor</span>
		<br />
		Front End Developer
	</h1>
	<button
		class="animate-fade-up cursor-pointer rounded-full border border-black bg-pink-600 px-8 py-3 font-black uppercase text-zinc-900 shadow-[5px_5px_0px_rgba(0,0,0)] [animation-delay:100ms] [animation-fill-mode:backwards] hover:bg-pink-400"
		>see my projects</button
	>
</section>
