<section class="mb-8 space-y-8">
	<div>
		<p>Crafting great web experiences that blend functionality and design.</p>

		<div>
			<h3>Today</h3>
			<p class="text-muted-foreground">
				Currently, I work at <a
					class="hover:decoration-foreground underline decoration-neutral-300 decoration-1 underline-offset-4 dark:decoration-neutral-600"
					href="https://sybogames.com/"
					rel="noopener noreferrer"
					target="_blank">Sybo Games</a
				>, where I contribute to the central technology team by developing
				internal tools with a strong focus on user interfaces and usability.
			</p>
		</div>
	</div>
</section>
