<section
	class="min-h-screen w-full flex flex-col items-start justify-center pl-20"
>
	<h1 class="text-7xl leading-tight font-semibold pb-10">
		Hi there, I'm <span class="text-sky-400">Victor</span>
		<br />
		Front End Developer
	</h1>
	<button
		class="p-4 bg-indigo-500 text-gray-900 text-sm font-semibold rounded uppercase tracking-widest"
		>Contact me</button
	>
</section>
