<section
	class="min-h-screen w-full flex flex-col items-start justify-center lg:pl-20"
>
	<h1
		class="text-5xl md:text-7xl leading-tight font-extrabold pb-20 animate-fade-up"
		style="animation-fill-mode: backwards;"
	>
		Hi, I'm <span class="text-pink-600">Victor</span>
		<br />
		Front End Developer
	</h1>
	<button
		class="px-8 py-3 bg-pink-600 text-gray-900 rounded-full uppercase border border-black cursor-pointer font-black animate-fade-up [animation-delay:100ms] [animation-fill-mode:backwards] hover:bg-pink-400"
		style="filter: drop-shadow(rgb(0, 0, 0) 5px 5px 0px);"
		>see my projects</button
	>
</section>
