---
import Social from './Social.astro'
---

<section class="animate-fade-up max-w-xl pt-16 pb-32">
	<div class="mb-8">
		<h1
			class="text-4xl font-bold tracking-tight sm:text-5xl text-zinc-900 dark:text-white"
		>
			Hey, I'm <span
				class="bg-gradient-to-r from-sky-600 to-indigo-600 bg-clip-text text-transparent dark:from-sky-400 dark:to-indigo-400"
				>Victor Garcia</span
			>
		</h1>
		<h2
			class="mt-3 text-lg font-semibold tracking-tight sm:text-xl text-zinc-900 dark:text-white"
		>
			Senior Frontend Engineer.
		</h2>
		<p
			class="font-semibold mt-6 text-zinc-700 dark:text-zinc-300 dark:[&>strong]:text-yellow-400 [&>strong]:text-indigo-900 [&>strong]:font-semibold"
		>
			I'm an engineer passionate about crafting great web experiences, currently
			working at <a
				href="https://sybogames.com/"
				target="_blank"
				rel="noopener noreferrer"
				class="text-indigo-600 dark:text-indigo-400 hover:underline"
				>Sybo Games</a
			>'s core team.
		</p>
	</div>
	<Social />
</section>
