---
import Link from './link.astro'
---

<section class="mb-8">
	<header class="mb-16 flex flex-col items-start">
		<a class="inline-block font-medium no-underline" href="/">Victor Mestre</a
		><span class="text-medium text-muted-foreground leading-none font-medium"
			>Frontend Engineer</span
		>
	</header>

	<div class="space-y-8">
		<p>Crafting great web experiences that blend functionality and design.</p>

		<p>
			Currently, I work at <Link href="https://tactilegames.com/"
				>Tactile Games</Link
			>, where I contribute to the Core Tech team by developing internal tools
			with a strong focus on user interfaces and usability.
		</p>
	</div>
</section>
