<section class="max-w-xl pt-16 pb-32">
	<div class="mb-8 space-y-8">
		<div>
			<h1 class="font-medium">Victor Mestre</h1>
			<h2
				class="text-muted-foreground font-medium"
				style={{ animationDelay: '0.2s' }}
			>
				Frontend Engineer.
			</h2>
		</div>
		<p>Crafting great web experiences that blend functionality and design.</p>

		<div>
			<h3>Today</h3>
			<p class="text-muted-foreground">
				Currently, I work at <a
					class="hover:decoration-foreground underline decoration-neutral-300 decoration-1 underline-offset-4 dark:decoration-neutral-600"
					href="https://sybogames.com/"
					rel="noopener noreferrer"
					target="_blank">Sybo Games</a
				>, where I contribute to the central technology team by developing
				internal tools with a strong focus on user interfaces and usability.
			</p>
		</div>
	</div>
</section>
