---
import ThemeToggle from './header/ThemeToggle'
---

<style is:global>
	@reference "tailwindcss";

	.mobile-toggle-on {
		overflow: hidden;
	}
	#mobile-menu {
		display: none;
		pointer-events: none;
	}
	#mobile-menu > button {
		opacity: 0;
		touch-action: none;
	}
	.mobile-toggle-on #mobile-menu > button {
		opacity: 1;
		touch-action: auto;
	}
	.mobile-toggle-on #mobile-menu {
		@apply pointer-events-auto block sm:hidden;
	}
	.mobile-toggle-on #header {
		@apply bg-transparent backdrop-blur-none;
	}
</style>
<div id="mobile-menu" class="fixed inset-0 z-10 overflow-hidden">
	<button
		id="menu-bg-button"
		aria-hidden="true"
		tabindex="-1"
		class="absolute inset-0 h-full w-full bg-zinc-100/80 backdrop-blur-md dark:bg-zinc-900/80"
	></button>
	<div
		aria-label="mobile navigation"
		class="absolute bottom-[100px] left-0 flex h-3/4 w-full flex-col items-center justify-between px-4 pt-8 sm:px-16"
	>
		<nav class="flex w-full flex-col items-center gap-6">
			<a
				href="/blog"
				tabindex="0"
				class="text-3xl font-bold hover:text-indigo-600 dark:hover:text-indigo-400"
				>Blog</a
			>
			<a
				href="/about"
				tabindex="0"
				class="text-3xl font-bold hover:text-indigo-600 dark:hover:text-indigo-400"
				>About</a
			>
		</nav>
		<ThemeToggle client:visible />
	</div>
</div>
