---
const { href, title, description, thumbnail } = Astro.props
---

<li
	class="dark:highlight-white/5 group relative rounded-3xl bg-zinc-50 p-6 hover:bg-zinc-100 dark:bg-zinc-800/80 dark:hover:bg-zinc-700/50"
>
	<div
		class="relative aspect-[672/494] transform overflow-hidden rounded-md bg-zinc-200 shadow-[0_2px_8px_rgba(15,23,42,0.08)] dark:bg-zinc-700"
	>
		<img
			alt="project-pic"
			fetch-priority="high"
			width="672"
			height="494"
			decoding="async"
			data-nimg="1"
			class="absolute inset-0 h-full w-full object-cover"
			style="color:transparent"
			src={thumbnail}
		/>
	</div>
	<div class="mt-6 flex flex-wrap items-center gap-3">
		<h2
			class="text-sm font-semibold text-zinc-900 group-hover:text-indigo-600 dark:text-white dark:group-hover:text-indigo-400"
		>
			<a href={href}>
				<span class="absolute inset-0 rounded-3xl"></span>
				{title}
			</a>
		</h2>
		<p
			class="w-full flex-none text-[0.8125rem] text-zinc-500 dark:text-zinc-400"
		>
			{description}
		</p>
	</div>
</li>
