---
interface Props {
	minutesRead: number
}
const { minutesRead } = Astro.props
const roundedMinutes = Math.ceil(minutesRead)
const cups = Math.min(Math.round(roundedMinutes / 5), 5)
---

<p class="text-sm text-zinc-700 dark:text-zinc-300">
	<span class="pr-1">{new Array(cups || 1).fill('☕️').join('')}</span>
	{`${roundedMinutes} min read`}
</p>
