---
import { showcase } from '../config'
import Link from './link.astro'
---

<section class="mt-16 sm:mt-32">
	<h3 class="mb-5 font-medium sm:mb-6">Projects</h3>
	<ul class="flex flex-col gap-4">
		{
			showcase.map(project => (
				<li class="space-y-2">
					<div class="inline-flex items-center gap-2">
						<Link href={project.url}>{project.name}</Link>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="size-3"
						>
							<>
								<path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6" />
								<path d="m21 3-9 9" />
								<path d="M15 3h6v6" />
							</>
						</svg>
					</div>

					<p class="text-muted-foreground text-sm">{project.description}</p>
				</li>
			))
		}
	</ul>
</section>
