---
import ProjectCard from './ProjectCard.astro'
import { showcase } from '../config'
---

<section id="showcase" class="mb-16 scroll-mt-16 md:mb-32">
	<h2 class="mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
		Projects
	</h2>
	<ul
		class="xl:gap-x-8s mx-auto grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-y-8"
	>
		{
			showcase.map(project => (
				<ProjectCard
					href={project.url}
					title={project.name}
					description={project.description}
					thumbnail={project.thumbnail}
				/>
			))
		}
	</ul>
</section>
