---
import ProjectCard from './ProjectCard.astro'
import { showcase } from '../config'
---

<section id="showcase" class="mb-32 scroll-mt-16">
	<h2 class="pb-6 text-3xl font-black text-pink-600 dark:text-pink-400">
		Some of my projects
	</h2>
	<ul
		class="xl:gap-x-8s mx-auto grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-y-8"
	>
		{
			showcase.map(project => (
				<ProjectCard
					href="/"
					title={project.name}
					description={project.description}
					thumbnail={project.thumbnail}
				/>
			))
		}
	</ul>
</section>
