---
import GithubIcon from '~/components/icons/Github.astro'
import TwitterIcon from '~/components/icons/Twitter.astro'
import LinkedinIcon from '~/components/icons/Linkedin.astro'
import InstagramIcon from '~/components/icons/Instagram.astro'

const socials = [
	{
		url: 'https://github.com/vgarmes',
		Icon: GithubIcon
	},
	{
		url: 'https://twitter.com/vgmestre',
		Icon: TwitterIcon
	},
	{
		url: 'https://linkedin.com/vgmestre',
		Icon: LinkedinIcon
	},
	{
		url: 'https://instagram.com/vgmestre',
		Icon: InstagramIcon
	}
]
---

<div class="flex gap-6 text-zinc-700 dark:text-zinc-400">
	{
		socials.map(({ url, Icon }) => (
			<a
				href={url}
				class="transition-transform duration-100 hover:scale-110 hover:text-zinc-900 dark:hover:text-white"
			>
				<Icon />
			</a>
		))
	}
</div>
