@keyframes animateHeart {
	0% {
		transform: scale(0.2);
	}
	40% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#grp1,
#grp2,
#grp3,
#grp4,
#grp5,
#grp6,
#grp7 {
	transition: 0.1s opacity 0.3s;
}
#confetti-group circle {
	transform-origin: 0 0 0;
}
#confetti-group circle:nth-child(odd) {
	transition: 0.5s transform 0.3s;
}
#confetti-group circle:nth-child(even) {
	transition: 1.5s transform 0.3s;
}
