---
import Footer from '~/components/Footer.astro'
import Head from '~/components/Head.astro'
import Header from '~/components/header/Header.astro'
import MobileMenu from '~/components/MobileMenu.astro'
const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<Head title={title} description={description} />
	</head>
	<body
		class="flex flex-col break-words bg-white font-sans text-zinc-900 dark:bg-zinc-900 dark:text-white"
	>
		<Header />
		<MobileMenu />
		<main class="mx-auto w-full max-w-6xl px-4 md:px-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>
