---
import { ClientRouter } from 'astro:transitions'
import Head from '~/components/Head.astro'
import Header from '~/components/header.astro'
import Footer from '~/components/footer.astro'
const { title, description, image } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<Head title={title} description={description} image={image} />
		<ClientRouter />
	</head>
	<body
		class="bg-background text-foreground flex flex-col font-sans break-words antialiased"
	>
		<main
			class="mx-auto w-full max-w-[calc(65ch_+_1.5rem)] px-6 sm:py-32 md:py-16"
		>
			<Header />
			<slot />
		</main>

		<Footer />
	</body>
</html>
