---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/header/Header.astro'
const { title, description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<Head title={title} description={description} />
	</head>
	<body
		class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-50 transition-colors duration-500 break-words font-sans"
	>
		<Header />
		<main class="max-w-7xl px-4 sm:px-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>
